// .slick-prev:hover,
// .slick-next:hover {
//     background-color: #ef8611 !important;
//     img {
//         filter: brightness(0), invert(1);
//     }
// }

a {
    color: $primary;
    transition: 0.3s ease all;
    font-weight: 700;
    &:hover {
        transition: 0.3s ease all;
        color: darken($first, 15%);
    }
}
@include media-breakpoint-down(sm) {
    * {
        font-size: 14px;
    }
}
:focus {
    outline: none;
    box-shadow: none !important;
}
hr {
    border-top: none;
}

.form-control,
input {
    border: 1px solid $secondary;

    border-radius: 5px;
    @include placeholder {
        @extend %text_default;
        color: #8f8b8b;
    }
}
label {
    @extend %text_default;
}
section {
    padding: $padding-default;
    @include media-breakpoint-down(sm) {
        padding: $padding-mobile;
    }
}

p {
    @extend %text_default;
    @extend %font_1;
}
p > b {
    font-weight: 700;
}
h1 {
    @extend %h1_header;
}
h2 {
    @extend %h2_header;
}
p > a {
    text-decoration: underline;
    &:hover {
        @extend %color_first;
        text-decoration: underline;
    }
}

.slick-dots {
    bottom: -40px;
    li {
        button {
            &:before {
                content: "" !important;
                width: 17px !important;
                height: 17px !important;
                content: "" !important;
                opacity: 0.2 !important;
                background: white !important;
                border-radius: 5px !important;
                border: 1px solid black !important;
            }
        }
        &.slick-active {
            button {
                &:before {
                    opacity: 1 !important;
                    color: #ef8611 !important;
                    background: #ef8611 !important;
                    border: 0 !important;
                    width: 22px !important;
                    height: 22px !important;
                    margin-top: -2px !important;
                }
            }
        }
    }
}

.banner_slick .slick-dots {
    li {
        button {
            &:before {
                border-radius: 50px !important;
            }
        }
    }
}
