// Variables


$first: #F58220;
$secondary: #1A1818;
$third: #000;
$fourth: #fff;
$fifth: #EFEFEF;
$sixth: #CCCBCB;
$seventh: #F0F0F0;
//global
$border-radius-default: 5px;

//padding sections
$padding-default: 80px 0;

//padding sections mobile
$padding-mobile: 20px 36px;


