//bootstrap 
@import "bootstrap4.scss";
@import "bootstrap4/mixins";
// Reset
@import "global/reset.scss";
// variables 
@import "global/variables.scss";
//  mixins
@import "global/mixins.scss";
// Fonts
@import "global/font.scss";
// Global CSS
@import "global/global.scss";
// buttons
@import "global/buttons.scss";
// header
@import "structure/header.scss";
// navbar
@import "structure/navbar.scss";
// footer
@import "structure/footer.scss";
// banner
@import "structure/banner.scss";
// // accordion
@import "structure/accordion.scss";

// // forms

@import "global/forms.scss";

// // plans
@import "structure/plans.scss";

// // solution
@import "structure/solution.scss"; 

// // Obra
@import "structure/obra.scss"; 

// // Obra
@import "structure/aqui_atex.scss"; 

// Home
@import "structure/home.scss"; 

// blog
@import "structure/blog.scss"; 

// Comercial Contact
@import "structure/comercial_contact.scss"; 

// Interna Product
@import "structure/interna_product.scss"; 

// About
@import "structure/about.scss";

// Newsletter
@import "structure/newsletter.scss"; 

// Trabalhe Conosco
@import "structure/trabalhe.scss"; 

// Produtos
@import "structure/product.scss"; 

// Apoio
@import "structure/apoio.scss"; 

// Sistema
@import "structure/sistema.scss"; 

// Comparação
@import "structure/comparacao.scss"; 

// Movie
@import "structure/movie.scss"; 

// Tire Duvidas
@import "structure/tire-duvidas.scss"; 

// Sistema Interno
@import "structure/interna_sistema.scss"; 

// Search filter
@import "structure/search_filter.scss"; 

// Fale Conosco
@import "structure/fale.scss"; 

// Form Solução
@import "structure/form_solution.scss";

html {
    scroll-behavior: smooth;
}

body:not(.home){
    .main{
        height: 70vh;
        padding-top: 8%;
        @include media-breakpoint-down(md){
            height: 80vh;
        }
        @media (min-width:1365px) and (max-width:1367px){
            height: 70vh;
        }
    }
}
body{
    @include media-breakpoint-down(md){
        //padding-top: 40px;
    }
}
@media (max-width: 1199.98px){
    #nav_main {
        padding: 30px 0 0 45px;
        //background: #000;
    }
    nav#nav_main ul{
        padding: 0;
        width: auto;
        right: 0;
        top: 30px;
    }
    #nav_main.scrolled{
        display: none;
        @include media-breakpoint-down(md){
            display: block !important;
        }
    }
    img{
        max-width: 100%;
        height: auto;
    }
}

.alm-reveal {
	display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.banner_slick .banner_home h1 b{
	display: block;
}
@media screen and (min-width: 992px){
	footer .footer-menu {
    // display: flex;
    // flex-wrap: wrap;
    list-style: none;
    margin-top: 15px;
    padding-left: 20px;
}
	footer .footer-menu li {
    // width: 135px;
    margin: 5px 0;
}
	footer .footer-menu li a {
    color: #1a1818;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    line-height: 1.625rem;
    font-weight: 400;
}
}
.main .btn_first{
    margin-bottom: 0 !important;
}
@media (min-width: 768px){
    #nav_main {
        padding-bottom: 20px;
    }
}
.search_article .content_result_article .card .card-content p{
    font-weight: 400;
}
.search_article .content_result_article .card .card-content h4 a{
    color: #f36a10;
}
.search_article .content_result_article .card .card-content h4 b{
    color: #000;
}
.firstbtn{
    .input-group-text{
        pointer-events: none;
        background: #fff;
        outline: none;
        border: none;

    }
    .lupa{
        background: transparent;
        border: none;
        border: none;

        outline: none;
    }
}
#searchform{
    .form-control{
        border: none;
    }
    .input-group-text{
        padding: 0;
    }
    button{
        all: unset;
        background: #F58220;
        color: #fff;
        cursor: pointer;
        padding: .5rem 3rem;
    }
}

.apli {
    .searchandfilter {
        label{
            width: 100%;
        }
        
    }
    .select {
        position: relative;
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
            ul {
                padding-left: 0;
            }
        }
        .select select {
            display: inline-block;
            width: 100%;
            cursor: pointer;
            padding: 18px 0px;
            outline: 0;
            border-bottom: 1px solid #707070 !important;
            border-radius: 0;
            background: #e6e6e600;
            color: #1a1818;
            appearance: none;
            -webkit-appearance: none;
            border: 0;
            -moz-appearance: none;
        }
            .select select::-ms-expand {
                display: none;
            }
            .select select:hover,
            .select select:focus {
                color: #000000;
            }
            .select select:disabled {
                opacity: 0.5;
                pointer-events: none;
            }
    .select_arrow {
        position: absolute;
        top: 35px;
        right: 15px;
        pointer-events: none;
        border-style: solid;
        border-width: 10px 7px 0 7px;
        border-color: #F58220 transparent transparent transparent;
    }
    .select select:hover ~ .select_arrow,
    .select select:focus ~ .select_arrow {
        border-top-color: #ef8611;
    }
    .select select:disabled ~ .select_arrow {
        border-top-color: #cccccc;
    }
}
.single-solucoes{
    h1{
        font-size: 42px;
        line-height: 60px;
        b{
            font-size: 50px;
        }
    }
    h2{
        font-size: 18px;
    }
}
.font-weight-normal{
    font-weight: 400;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

  $red:#D62839;
$purple:#000;
$gray:#999;
$green:#00A896;

@mixin scaledown {
  -webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}

@mixin scaleup {
  -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}



body.search-open {
	overflow: hidden;	
}



.search-box.search-elem {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999999999;
	background: transparentize($purple, .1);
	transition: all .3s  ease-in-out;
	@include scaledown;
    .searchandfilter ul {
        display: inline-block;
        width: 100%;
        padding: 0;
        li {
            display: inline-block;
        }
    }
    .close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        background: 0 0;
        border: 0;
        font-size: 3rem;
        font-weight: 700;
        opacity: 1;
        display: block;
        cursor: pointer;
        color: #000;
        padding: 0rem .75rem .3rem;
        background: #fff;
        border-radius: 50%;
        outline: 0;
      &:hover {
        background: #F58220;
      }
    }
    [type=submit] {
        background: #F58220;
        padding: 1.8rem 2rem 1.2rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        //margin-left: -60px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }
	.inner {
		width: 70%;
		margin: 0 auto;
		position: relative;
		top: 50%;
        transform: translateY(-50%);
        justify-content: center;
	}

	label {
		color: white;
		font-weight: 300;
	}

	button.submit {
		outline: none;
	  position: absolute;
	  top: 0;
	  right: 15px;
	  height: 70px;
    padding: 10px 2rem;
	  background: $green;
	  font-size: 1rem;
	  color: white;

	    &[disabled] {
	    	background: #ccc;
	    	color: $purple;
	    }
	}

	input[type="text"] {
        padding: 20px 50px 20px 20px;
		height: 72px;
		font-size: 32px;
		font-weight: 300;
		border: none;
		border-bottom: solid 2px $gray;
		transition: border 0.3s;
        border-radius: 0;
        @media (min-width:1919px) and (max-width:1921px){
            padding: 20px 50px 19px 20px;
            width: 110%;
        }
        @media (min-width:1365px) and (max-width:1367px){
            padding: 23px 50px 20px 20px;
            height: 72px;
            font-size: 25px;
        }
		&:focus {
		border-bottom: solid 2px $green;
        box-shadow: none;
		}
	}

	label.placeholder {
		position: absolute;
		top: 10px;
		left: 2rem;
		font-size: 32px;
		font-weight: 300;
		color: $gray;
		transition: all .3s;

		&.move-up {
			top: -25px;
			color: white;
			font-size: 1rem;
		}
	}
}

.search-box.search-elem.search-open {
	@include scaleup;
}

.search-btn {
	text-transform: uppercase;
	font-size: 0.875rem;
	padding: 0 10px;
  display: inline-block;

	&:hover {
		color: #00A896;
	}
}
.itemresultado{
    a{
      color: #F58220;  
    }
}
.main{
    .searchandfilter ul{
        padding: 0;
        margin: 0;
        width: 100%;
        display: inline-block;
        li{
            @include media-breakpoint-up(md){
                display: inline;
            }
        }
    }
    input[type="submit"] {
        background: #f36a10;
        color: #fff;
        margin-left: -20px;
        border: none;
        cursor: pointer;
    }
}
.main .searchandfilter ul li input {
    padding: 12px 20px;
}

.main .searchandfilter ul li:first-child input {
    padding: 12px 40px;
    width: 300px;
}
.main .searchandfilter ul li:first-child label {    
    &:before {
        content: "\f002";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        color: #8f9abc;
        position: relative;
        left: 35px;
    }
}

.main .searchandfilter ul li:last-child input {
    padding: 12px 84px;
}

.jquery-modal.blocker.current {
    z-index: 9999;
}

#orcamento{
    top:unset !important;
    .modal-header {
        z-index: 1031;
        border: 0;
        a {
            position: absolute;
            right: 20px;
            color: #ef8611;
            font-size: 25px;
        }
    }
    a.close-modal {
        display: none;
    }
    .smal-input{
        display: flex;
        justify-content: space-between;
        .select-options {
            select {
                height: 43px;
                border-radius: 5px;
                border: 1px solid #1a1818;
                width: 100%;
                margin-top: 5px;
            }
        }
    }
    .inputs{
        input{
            width: 100%;
        }
    }
    label{
        @include rhythm(14,26);
        color: #1A1818;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        input{
            height: 43px;
        }
        &.terms{
            label{
                display: flex;
                flex-direction: row !important;
                align-items: center;
                input{
                    margin-right: 10px  ;
                }
            }
        }
    }
    .submit-button{
        @include media-breakpoint-up(md){
            display: flex;
            justify-content: flex-end;
        }
        .wpcf7-submit {  
            color: #fff;
            border-color: #fff;
            background: #ef8611;
            padding: 12px 34px;
            border: 1px solid #ef8611;
        }
        .ajax-loader {
            position: absolute;
        }
    }
}

#pop-up-modal {
    opacity: 1;
    padding: 65px 40px;
    height: 50%;
    .modal-dialog {
        display: flex;
        text-align: center;
    }
    a.close-modal {
        margin: 20px 20px 0 0;
    }
}