.files{
    padding: 20px 33px;
    @include media-breakpoint-up(md){
        padding: 80px 0;
    }
    h2{
        @include rhythm(30,40);
        color: #000000;
        padding-bottom: 20px;
        @include media-breakpoint-up(md){
            @include rhythm(40,50);
        }
    }
    p{
        @include rhythm(16,26);
        padding-bottom: 20px;
    }
    .list-files{
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        li{
            display: flex;
            justify-content: space-between;
            @include rhythm(14,24);
            .archive{
                &.open{
                    a{
                        color: #ef8611;
                    }
                }
                &.closed{
                    a{
                        color: #696972;
                    }
                }
                a{
                    @include rhythm(14,24);
                    font-weight: normal;
                }
            }
            .padlock{
    
            }
        }
    }
}

.account{
    padding: 20px 33px;
    h2{
        @include rhythm(30,40);
        color: #000000;
        padding-right: 40px;
        padding-bottom: 20px;
    }
    p{
        @include rhythm(16,26);
        padding-bottom: 20px;
    }
    .account-login{
        padding: 20px 0;
        margin: 20px 0 60px;
        h3{
            padding-bottom: 20px;
        }
        #loginform{
            p{
                display: flex;
                flex-direction: column;
                padding-bottom: 0;
                width: auto;
                @include media-breakpoint-up(md){
                    width: 60%;
                }
                input{
                    padding: 8px 0;
                    margin-bottom: 10px;
                }
                label{
                    margin-bottom: 0;
                }
                &.login-submit{
                    input{
                        color: #F58220;
                        background-color: transparent;
                        border: 1px solid #F58220;
                    }
                }
    
            }
        }
    }
    .accont-create{
        -webkit-box-shadow: 0px 0px 5px 1px rgba(128,128,128,0.58);
        -moz-box-shadow: 0px 0px 5px 1px rgba(128,128,128,0.58);
        box-shadow: 0px 0px 5px 1px rgba(128,128,128,0.58);
        padding: 35px 30px;
        margin: 20px 0 60px;
        @include media-breakpoint-up(md){
            padding: 40px;
        }
        h3{
            padding-bottom: 20px;
        }
        form{
            label{
                display: flex;
                flex-direction: column;
            }
            input {
                padding: 9px 15px;
                max-width: 238px;
                margin-right: 17px;
                @include media-breakpoint-up(md){
                    max-width: 258px;
                }
            }
            .input-row {
                display: flex;
                flex-direction: column;
                @include media-breakpoint-up(md){
                    flex-direction: row;
                }
                .inputs-tel {
                    display: flex;
                    input[type=number] { 
                        -moz-appearance: textfield;
                        appearance: textfield;
                     
                     }
                     input[type=number]::-webkit-inner-spin-button { 
                        -webkit-appearance: none;     
                    }
                    .ddd {
                        max-width: 71px !important;
                    }
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel {
                        max-width: 150px;
                        @include media-breakpoint-up(md){
                            max-width: 169px;
                        }
                    }
                }
                input.wpcf7-form-control.wpcf7-submit {
                    margin: 10px 0;
                    color: #ffffff;
                    background-color: #ef8611;
                    border: 1px solid #ef8611;
                    padding: 10px 105px;
                }
            }
        }
    }
}


