.aqui-atex{
    background-image: url("../img/svg/bloco-right-desk.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 0;
    @include media-breakpoint-up(md){
        background-size: auto;
    }
    .atex_carousel{
        @include media-breakpoint-down(md){
            margin-bottom: 0 !important;
        }
        .slick-arrow {
            -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            width: 38px;
            height: 38px;
            border-radius: 10px;
        }
        .slick-next {
            right: -110px;
            padding: 10px 10px 10px 5px;
        }
        .slick-prev {
            right: -60px;
            left: unset;
            padding: 10px 5px 10px 10px;
        }
        .slick-prev, .slick-next {
            top: 80%;
            z-index: 1;
        }
        .card{
            margin: 0 10px;
            a{
                text-decoration: none;
                .card-content {
                    position: relative;
                    top: -110px;
                    left: 20px;
                    color: white;
                    width: 70%;
                    @include media-breakpoint-up(md){
                        top: -90px;
                        width: 90%;
                    }
                    &:before{
                        content: "";
                        padding: 41px 3px;
                        position: absolute;
                        background: #F36A10;
                        left: -20px;
                        border-radius: 0 5px 5px 0;
                    }
                    h5 {
                        font-weight: bold;
                        @include rhythm(18,26);
                        @include media-breakpoint-up(md){
                            @include rhythm(20,26);
                        }
                        @media (min-width:1023px) and (max-width:1025px){
                            @include rhythm(18,26);
                        }
                    }
                    span {
                        @include rhythm(14,24);
                        font-weight: normal;
                        padding-top: 10px;
                    }
                }
                .card-header{
                    &:before {
                        content: "";
                        position: absolute;
                        background: #000;
                        width: 23.2%;
                        height: 83.2%;
                        border-radius: 10px;
                        opacity: .3;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        }
        
        .slick-dots {
            bottom:20px;
            li {
                button{
                    &:before {
                        width: 17px;
                        height: 17px;
                        content: '';
                        opacity: .2;
                        background: white;
                        border-radius: 5px;
                        border: 1px solid black;
                    }

                }
                &.slick-active {
                    button{
                        &:before {
                            opacity: 1;
                            color: #ef8611;
                            background: #ef8611;
                            border: 0;
                            width: 22px;
                            height: 22px;
                            margin-top: -2px;
                        }
                    }
                }
            }
        }
    }
    .card-right {
        padding-bottom: 15px;
        @include media-breakpoint-up(md){
            padding-left: 55px;
        }
        h2{
            @extend %color_third;
            @include rhythm(40, 50);
            margin: 75px 0 25px 0;
            @include media-breakpoint-up(md){
                margin: 100px 0 25px 0;
            }
            &:before {
                content: "";
                padding: 19px 1px;
                position: relative;
                background-color: #F36A10;
                top: -65px;
                @include media-breakpoint-up(md){
                    top: -80px;
                }
            }
        }
        
        p{
            @include rhythm(14, 24);
            //padding: 0 80px 0 0;
            @include media-breakpoint-up(md){
                padding: 0 60px 0 0;
            }
            @include media-breakpoint-up(lg){
                padding: 0;
            }
        }
        .blocos_right {
            position: absolute;
        }
    }
    button {
        @include media-breakpoint-up(md){
            //margin-left: 30em;
        }        
    }
    .box-button{
        margin-top: -60px;
    }
    #button-order {
        margin-top: -40px;
    }

}
