.main {
    background-size: cover;
    //height: auto;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    @include media-breakpoint-up(md) {
        height: 100vh;
        max-height: 850px;
        background-attachment: fixed;
    }
    .align-items-end {
        @include media-breakpoint-up(md) {
            h2 {
                margin-bottom: 1rem;
            }
        }
        @include media-breakpoint-up(xl) {
            h2 {
                margin-bottom: 4rem;
            }
        }
    }
    h1,
    h2,
    hr,
    a,
    a:hover {
        @extend %color_fourth;
    }
    h1 {
        @include rhythm(32, 43);
        font-weight: 700;
        @include media-breakpoint-up(md) {
            @include rhythm(53, 44);
        }
        & > span {
            @extend %color_secondary;
            @include rhythm(24, 30);
            margin-top: 1rem;
        }
    }
    h2,
    a {
        @include rhythm(16, 26);
        font-weight: 400;
        @include media-breakpoint-up(md) {
            @include rhythm(26, 32);
        }
    }
    a {
        text-decoration: underline;
    }
    &.post {
        max-height: 525px;
        color: #fff;
    }
    &.middle {
        h2 {
            @include rhythm(53, 44);
            font-weight: 700;
        }
        h3,
        h3 a {
            @include rhythm(26, 32);
            font-weight: 400;
            color: #fff;
            margin: 2rem 0;
        }
    }
    .simple-filter {
        @include media-breakpoint-down(md) {
            padding: 0;
            padding-bottom: 10px;
            position: relative;  
            top: -60%;
            ul{
                li{
                    label{
                        width: 100%;
                    }
                    &:first-child{
                        input{
                            margin-right: 30px;
                        }
                    }
                }
            }
            input[type=submit] {
                margin-left: 0px;
            }
        }
        ul li.sf-field-search{
            padding-bottom: 30px;
            background-color: white;
        }
        ul {
            margin: 0 !important;
        }

        .label {
            width: 550px !important;
            @include media-breakpoint-down(md) {
                width: 100% !important;
                
            }
        }
        ul label::before {
            background-color: white;
            border-radius: .25rem 0 0 0;
            border-bottom: 1px solid black;
            bottom: 0;
            left: 50%;
            right: 0;
        }
        ul input.sf-input-text {
            width: 550px !important;
            @include media-breakpoint-down(md) {
                width: 100% !important;
                border-radius: 0 .25rem 0 0;
            }
            border-bottom: 1px solid black;
            bottom: 0;
            left: 0;
            right: 70%;
        }

        ul input {
            @include media-breakpoint-down(md) {
                width: 100% !important;
            }
        }
    }

    .container_btn {
        @include media-breakpoint-down(md) {
            text-align: center;
            margin-bottom: 40px;
            position: relative;
            top: -60%;
        }
    }

    .btn_filtrar {
        text-align: left;
        width: 100%;
        padding: 15px;
        background: white;
        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    .modal-dialog {
        @include media-breakpoint-up(md) {
            max-width: 1100px;
        }
    }
}
.carousel {
    .carousel-item {
        padding: 4rem 0;
        @include media-breakpoint-up(md) {
            padding: 4rem 0 8rem 0;
        }
        background-size: cover;
        height: 100vh;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, 0.6);
        @include media-breakpoint-up(md) {
            height: 100vh;
            max-height: 850px;
            background-attachment: fixed;
        }
        h1,
        h2,
        p {
            color: #fff;
            text-align: center;
        }
        h1 {
            @include rhythm(53, 64);
            font-weight: 700;
            margin-bottom: 30px;
        }
        h2 {
            @include rhythm(26, 32);
            font-weight: 400;
        }
        p {
            @include media-breakpoint-up(md) {
                max-width: 140px;
            }
            margin: 0 auto;
            margin-top: 1rem;
        }
        @include media-breakpoint-down(md) {
            background-position: -270px;
            img {
                max-width: 80px;
            }
            p {
                margin-bottom: 1.5rem;
            }
        }
    }
}

.page-template-template-page-sobre{
    .main{
        h1{
            @include rhythm(16,26);
            font-weight: normal;
        }
        h2{
            @include rhythm(45,60);
            font-weight: bold;
        }
    }
}