.blog {
    &:before {
        content: "";
        position: absolute;
        background: #f0f0f0;
        width: 100%;
        height: 90%;
        left: 0;
        @include media-breakpoint-up(md) {
            height: 45%;
        }
    }
    .blog_carousel, .resultadospagina {
        @include media-breakpoint-up(md) {
            padding-top: 60px;
        }
        a{
            text-decoration: none;
            .card {
                -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                margin: 10px;
                min-height: 529px;
                @include media-breakpoint-down(md) {
                    margin-bottom: 40px;
                    min-height: 420px;
                }
                .card-header {
                    img {
                        width: 100%;
                        height: 149px;
                    }
                }
                .card-content {
                    padding: 30px 15px;
                    background: #fff;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    h3 {
                        @include rhythm(18, 28);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    h4 {
                        @include rhythm(14, 26);
                        strong {
                            color: #ef8611;
                        }
                    }
                    h3{
                        color: black;
                    }
                    b {
                        color: black;
                    }
    
                    p {
                        @include rhythm(14, 24);
                        font-weight: normal;
                        color: black;
                    }
                    a {
                        color: #ef8611;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .card-right {
        @include media-breakpoint-up(md) {
            padding: 100px;
        }
        h2 {
            @include rhythm(30, 40);
            @extend %color_third;
            margin: 115px 0 25px 0;
            @include media-breakpoint-up(md) {
                margin: 70px 0 25px 0;
            }
            &:before {
                content: "";
                padding: 19px 1px;
                position: relative;
                background-color: #ef8611;
                top: -55px;
                @include media-breakpoint-up(md) {
                    top: -70px;
                    padding: 25px 1px;
                }
            }
        }
    }
    .blog-button {
        margin: 20px 0 0 0;
        @include media-breakpoint-up(md) {
            margin-left: 30em;
        }
    }

    .slick-dots {
        bottom: -20px;
        li {
            button {
                &:before {
                    width: 17px;
                    height: 17px;
                    content: "";
                    opacity: 0.2;
                    background: white;
                    border-radius: 5px;
                    border: 1px solid black;
                }
            }
            &.slick-active {
                button {
                    &:before {
                        opacity: 1;
                        color: #ef8611;
                        background: #ef8611;
                        border: 0;
                        width: 22px;
                        height: 22px;
                        margin-top: -2px;
                    }
                }
            }
        }
    }
    .slick-arrow {
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        width: 38px;
        height: 38px;
        border-radius: 10px;
    }
    .slick-next {
        right: -110px;
        padding: 10px 5px;
    }
    .slick-prev {
        right: -60px;
        left: unset;
        padding: 10px 5px;
    }
    .slick-prev,
    .slick-next {
        top: 95%;
        z-index: 1;
    }
    button {
        //margin-left: 35rem;
        @include media-breakpoint-down(md) {
            width: 100;
            //margin: 2rem 0;
        }
    }
}

.search_article {
    .hide-desk {
        @include media-breakpoint-up(md) {
            display: none !important;
        }
    }
    .hide-mobile {
        display: none;
        li.cat-item.current-cat a {
            color: #ef8611 !important;
            font-weight: bold !important;
        }
        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    .category_article {
        padding: 23px 84px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        margin-bottom: 40px;
        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            padding-left: 0;
            margin-bottom: 0;
            li {
                a {
                    color: #000000;
                    @include rhythm(14, 22);
                    font-weight: normal;
                    &:hover {
                        color: #f36a10;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .select {
        position: relative;
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
    }
    .select select {
        font-family: "Arial";
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border-bottom: 1px solid #000000;
        border-radius: 0px;
        background: #ffffff;
        color: #000000;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .select select::-ms-expand {
        display: none;
    }
    .select select:hover,
    .select select:focus {
        color: #000000;
        background: #ffffff;
    }
    .select select:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    .select_arrow {
        position: absolute;
        top: 16px;
        right: 15px;
        pointer-events: none;
        border-style: solid;
        border-width: 8px 5px 0px 5px;
        border-color: #ef8611 transparent transparent transparent;
    }
    .select select:disabled ~ .select_arrow {
        border-top-color: #cccccc;
    }
    .header_article {
        text-align: center;
        h2 {
            @include rhythm(20, 40);
            color: #000000;
        }
        p {
            @include rhythm(14, 26);
        }
    }
    .content_result_article {
        @include media-breakpoint-up(md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card {
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            margin: 35px -15px;
            @include media-breakpoint-up(md) {
                margin: 48px 0;
            }
            .card-content {
                padding: 20px 20px 40px;
                a {
                    text-decoration: none;
                    color: black;
                }
                .date {
                    @include rhythm(14, 26);
                }
                h4 {
                    @include rhythm(14, 22);
                    color: #f36a10;
                }
                h3 {
                    @include rhythm(18, 28);
                }
                p {
                    @include rhythm(14, 24);
                }
            }
            .card-header {
                img {
                    width: 100%;
                }
            }
        }
    }
    .alm-btn-wrap {
        text-align: center;
        width: 100%;
    }

    .alm-btn-wrap .alm-load-more-btn,
    .alm-btn-wrap .alm-load-more-btn:hover {
        background-color: #ef8611;
        margin: 5px 0 30px !important;
        box-shadow: none;
        border-radius: 5px;
        padding: 15px 100px 20px;
        @include media-breakpoint-down(md) {
            padding: 15px;
            width: 100%;
        }
    }
}
.resultadoblog{

    @include media-breakpoint-up(md) {
        padding-top: 60px;
    }
    .card {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        margin: 10px;
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
        .card-header {
            img {
                width: 100%;
            }
        }
        .card-content {
            padding: 30px 15px;
            background: #fff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            h3 {
                @include rhythm(18, 28);
            }
            h4 {
                @include rhythm(14, 26);
                strong {
                    color: #ef8611;
                }
            }
            b {
                color: black;
            }

            p {
                @include rhythm(14, 24);
                font-weight: normal;
            }
            a {
                color: #ef8611;
                text-decoration: none;
            }
        }
    }
}

.blog-post{
    padding-top: 0;
    h2{
        color:#000;
        @include rhythm(16, 26);
        @include media-breakpoint-up(md){
            @include rhythm(40, 40);
        }
    }
    .category-post-interna {
        ul{
            padding: 0;
            list-style: none;
            display: flex;
            margin-bottom: 0px;
            li{
                margin-right: 2px;
                &::after{
                    content:",";
                    font-weight: bold;
                    font-size: 20px;
                }
                &:last-child{
                    &::after{
                        content:".";
                    }
                }
                a{
                    @include rhythm(18,26);
                    color: #000000;
                    font-weight: normal;
                    pointer-events: none;
                }
            }
        }
    }
    .blog-img{
        img{
            width: 100%;
            padding-bottom: 5%;
        }
    }
    .new-sletters{
            border-top: 1px solid #BEBEBE;
            padding: 65px 0 0 0;
            @include media-breakpoint-up(md){
                background-color: #fff;
                padding: 25px;
                border: 0;
                padding-top: 0;
                border-bottom: 1px solid;
            }
            .card-header{
                padding: 0;
                h3{
                    @include rhythm(25,30);
                    font-weight: bold;
                    margin-bottom: -10px;
                    margin-right: 40px;
                }
                p{
                    @include rhythm(14,24);
                    margin-bottom: 30px;
                    margin-right: 40px;
                }
            }
            .card-content{
                padding: 0;
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    label{
                        margin-bottom: 20px;
                        font-size: 13px;
                    }
                    input {
                        width: 100%;
                        border: 2px solid;
                        height: 35px;
                        border-radius: 5px;
                        &[type=submit]{
                            background-color: #F58220;
                            color: #ffffff;
                            border-radius: 5px;
                            border: 1px solid #F36A10;
                            &:hover{
                                background: #ffffff;
                                color: #ef8611;
                            }
                            @include media-breakpoint-up(md){
                                width: 100%;
                                height: 43px;
                            }
                        }
                    }
                }
            }   
    }
}

    .category-post {
        text-align: center;
        ul{
            padding: 0;
            list-style: none;
            display: flex;
            margin-bottom: 10px;
            justify-content: center;
            li{
                margin-right: 2px;
                &::after{
                    content:",";
                    font-weight: bold;
                    font-size: 20px;
                }
                &:last-child{
                    &::after{
                        content:".";
                    }
                }
                a{
                    @include rhythm(20,26);
                    color: #000000;
                    font-weight: bold;
                    pointer-events: none;
                }
            }
        }
    }

.news-post{
    padding-top: 20px;
    h2{
        color: #000000;
        @include rhythm(26,46);
    }
    .card{
        border-bottom: 1px solid;
        ul{
            padding: 0;
            list-style: none;
            display: flex;
            margin-bottom: 10px;
            li{
                margin-right: 2px;
                &::after{
                    content:",";
                }
                &:last-child{
                    &::after{
                        content:".";
                    }
                }
                a{
                    color: #ef8611;
                    font-weight: bold;
                }
            }
        }
        .date{
            font-weight: bold;
        }
        .post-title {
            @include rhythm(20,30);
            color: #000000;
        }
    }
}

.comentarios{
    @include media-breakpoint-up(md){
        padding: 0;
    }
    .container{
        .card{
            border-top: 1px solid #BEBEBE;
            padding: 65px 0 20px 0;
            @include media-breakpoint-up(md){
                -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
                -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
                box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
                border-radius: 5px;
                background-color: #ffffff;
                padding: 96px;
                border: 0;
            }
            .card-header{
                padding: 0;
                h3{
                    @include rhythm(25,30);
                    font-weight: bold;
                    margin-bottom: -10px;
                    margin-right: 40px;
                }
                p{
                    @include rhythm(14,24);
                    margin-bottom: 30px;
                    margin-right: 40px;
                }
            }
            .card-content{
                padding: 0;
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    label{
                        margin-bottom: 20px;
                    }
                    input {
                        width: 100%;
                        &[type=submit]{
                            background-color: #F58220;
                            color: #ffffff;
                            border-radius: 5px;
                            border: 1px solid #F36A10;
                            &:hover{
                                background: #ffffff;
                                color: #ef8611;
                            }
                            @include media-breakpoint-up(md){
                                width: 35%;
                                padding: 10px;
                            }
                        }
                    }
                    .text-area {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        textarea {
                            width: 100%;
                            height: 10vh;
                            border-radius: 10px;
                        }
                    }
                    .inputs {
                        display: flex;
                    }
                }
            }
        }
    }
}

.post-relacionado{
    .blog_carousel, .resultadospagina {
        @include media-breakpoint-up(md) {
            padding-top: 60px;
        }
        .card {
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            margin: 10px;
            min-height: 529px;
            @include media-breakpoint-down(md) {
                margin-bottom: 40px;
                min-height: 420px;
            }
            .card-header {
                img {
                    width: 100%;
                    height: 149px;
                    border-radius: 10px 10px 0 0;
                }
            }
            .card-content {
                padding: 30px 15px;
                background: #fff;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                h3 {
                    @include rhythm(18, 28);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                h4 {
                    @include rhythm(14, 26);
                    strong {
                        color: #ef8611;
                    }
                }
                b {
                    color: black;
                }

                p {
                    @include rhythm(14, 24);
                    font-weight: normal;
                }
                a {
                    color: #ef8611;
                    text-decoration: none;
                }
            }
        }
    }
    .card-right {
        @include media-breakpoint-up(md) {
            //padding: 100px;
        }
        h2 {
            @include rhythm(40, 50);
            @extend %color_third;
            margin: 115px 0 25px 0;
            @include media-breakpoint-up(md) {
                margin: 70px 0 25px 0;
            }
            &:before {
                content: "";
                padding: 19px 1px;
                position: relative;
                background-color: #ef8611;
                top: -55px;
                @include media-breakpoint-up(md) {
                    top: -70px;
                    padding: 25px 1px;
                }
            }
        }
    }
    .blog-button {
        margin: 20px 0 0 0;
        @include media-breakpoint-up(md) {
            margin-left: 30em;
        }
    }

    .slick-dots {
        bottom: -20px;
        li {
            button {
                &:before {
                    width: 17px;
                    height: 17px;
                    content: "";
                    opacity: 0.2;
                    background: white;
                    border-radius: 5px;
                    border: 1px solid black;
                }
            }
            &.slick-active {
                button {
                    &:before {
                        opacity: 1;
                        color: #ef8611;
                        background: #ef8611;
                        border: 0;
                        width: 22px;
                        height: 22px;
                        margin-top: -2px;
                    }
                }
            }
        }
    }
    .slick-arrow {
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        width: 38px;
        height: 38px;
        border-radius: 10px;
    }
    .slick-next {
        right: -110px;
        padding: 10px 5px;
    }
    .slick-prev {
        right: -60px;
        left: unset;
        padding: 10px 5px;
    }
    .slick-prev,
    .slick-next {
        top: 95%;
        z-index: 1;
    }
    button {
        margin-left: 35rem;
        @include media-breakpoint-down(md) {
            width: 100;
            margin: 2rem 0;
        }
    }
}
.section-text{
    img{
        width: 100%;
    }
    iframe{
        width: 100%;
    }
}

.page-template-template-page-blog{
    .main{
        h1{
            @include rhythm(16,26);
            font-weight: normal;
        }
        h2{
            @include rhythm(32,43);
            font-weight: 900;
        }
        form{
            ul{
                margin-top: 10px;
                li{
                    padding: 0px 0;
                }
            }
        }
    }
    .new-sletters{
        padding: 0 0 25px 0;
    }
}
