.comparacao{
    .container{
        @include media-breakpoint-up(md){
            background-image: url("../img/comparacao.png");
            background-size: cover;
        }
        .card{
            background-image: url("../img/comparacao-mobile.png");
            background-repeat: no-repeat;
            text-align: center;
            padding: 60px 25px;
            border-radius: 10px;
            background-size: cover;
            @include media-breakpoint-up(md){
                background-image: none;
            }
            h2{
                @include rhythm(28,40);
                padding-bottom: 30px;
                @include media-breakpoint-up(md){
                    padding-bottom: 0;
                }
            }
            p{
                @include rhythm(14,24);
                color: #ffffff;
            }
            button{
                &:hover{
                    a{
                        color: #f58220 !important;
                    }
                }
            }
        }
    }
}