.career{
    padding-bottom: 0;
    .row{
        @include media-breakpoint-up(md){
            display: flex;
            justify-content: space-between;
        }
    }
    h2{
        color: #000000;
        @include rhythm(30,40);
        padding-right: 35px;
        @include media-breakpoint-up(md){
            @include rhythm(40,45);

        }
    }
    .form-card-content{ 
        padding-bottom: 30px;
        p{
            padding-right: 35px;
        }
    }
    .form-card-header{
        label{
            @include rhythm(14,26);
            color: #1A1818;
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            input{
                height: 43px;
            }
        }
        .inputs {
            input{
                width: 100%;
                border: 1px solid #1A1818;
                @include media-breakpoint-up(md){
                    padding: 0 23px;
                }
            }
            @include media-breakpoint-up(md){
                display: flex;
                justify-content: space-between;
            }
            .smal-input{
                display: flex;
                width: 100%;
                justify-content: space-between;
                &:last-child{
                    @include media-breakpoint-up(md){
                        padding-left: 10px;
                    }
                }
                .telefone {
                    width: 100%;
                    @include media-breakpoint-down(md){
                        padding-right: 5px;
                    }
                }
                .ddd {
                    width: 71px;
                } label{
                    &:first-child {
                        padding-right: 15px;
                        @include media-breakpoint-down(md){
                            padding-right: 10px;
                        }
                    }
                }
                select {
                    height: 43px;
                    border-radius: 5px;
                    border: 1px solid #1A1818;
                    &.state-selector{
                        padding: 0 12px;
                        @include media-breakpoint-up(md){
                            padding: 0 14px 0 10px;
                        }
                    }
                    &.city-selector{
                        padding: 0 31px;
                        @include media-breakpoint-up(md){
                            padding: 0 150px 0 10px;
                        }
                    }
                }
                .label-pd {
                    padding-right: 0 !important;
                }
            }
        }
        textarea{
            width: 100%;
            border-radius: 5px;
            padding: 10px 20px;
            border: 1px solid #1A1818;
            @include media-breakpoint-up(up){
                height: 180px;
            }
        }
        .submit-button{
            @include media-breakpoint-up(md){
                display: flex;
                justify-content: flex-end;
            }
            .wpcf7-submit {
                width: 100%;
                color: #fff;
                border-color: #fff;
                background: #ef8611;
                padding: 12px 34px;
                border: 1px solid #ef8611;
                @include media-breakpoint-up(md){
                    width: 40%;
                }
            }
            .ajax-loader {
                position: absolute;
            }
        }
    }
}
.form-fale{
    background-image: url(../img/faleconoscobg.png);
    background-repeat: no-repeat;
    background-size: 103% 100%;
    background-size: 105% 100%;
    background-position: center;
    @include media-breakpoint-down(md){
        padding: 20px 0;
    }
    .fale-row{
        display: flex;
        justify-content: flex-start;
        @include media-breakpoint-up(md){
            justify-content: flex-end;
        }
        .card{
            //background-position: right;
            display: flex;
            min-height: 160vh;
            justify-content: center;
            //align-items: center;
            flex-direction: column;
            padding-right: 17%;
            @include media-breakpoint-up(md){
                background-position: 55px;
                padding-right: 0;   
                flex-direction: row;
                min-height: 88vh;
            }
            .card-header{
                padding-left: 38px;
                margin-top: 70px;
                margin-bottom: 30px;
                @include media-breakpoint-up(md){
                    padding-left: 50px;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                }
                h2{
                    color: #ffffff;
                    @include rhythm(30,35);
                    padding-bottom: 32px;
                    &:before {
                        content: "";
                        padding: 24px .1px;
                        position: relative;
                        background-color: #ef8611;
                        top: -70px;
                    }
                    @include media-breakpoint-up(md){
                        padding-right:50px;
                    }
                }
                p{
                    color: #ffffff;
                    @include rhythm(14,24);
                    @include media-breakpoint-up(md){
                        padding-right: 90px;

                    }
                }
            }
            .card-content{
                @include media-breakpoint-up(md){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                ul{
                    padding-left: 20px;
                    label{
                        width: 100%;
                        @include media-breakpoint-up(md){
                            width: 32%;
                        }
                        select{
                            height: 43px;
                            width: 100%;
                            padding: 0 0 0 15px;
                            background: transparent;
                            color: #F58220;
                            border: 1px solid #F58220;
                            border-radius: 5px;
                            option {
                                color: #000;
                                font-size: 15px;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}