footer {
    .menu-5 {
        display: none;
    }
    $padding: 33.5px;
    padding-top: $padding;
    padding-bottom: $padding;
    @include media-breakpoint-up(lg) {
        padding-top: $padding * 2;
        padding-bottom: $padding * 2;
    }
    border-top: 1px solid $fifth;
    background: rgba($sixth, 0.67);
    .border-top-footer {
        border-top: 1px solid #a29d9d;
    }
    .padding-top {
        padding-top: 10px;
    }
    .social-media {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        margin-right: 90px;
    }
    .flex {
        display: flex;
    }
    /*img{
        padding-left: 20px;
    }*/
    .footer-menu {
        margin: 0;
        padding: 0 15px;
        li {
            margin-top: 0;
            margin-bottom: 15px;

            a {
                color: #1a1818;
                h5{
                @include rhythm(18, 26);
                }
                @media (min-width:1365px) and (max-width:1367px){
                    @include rhythm(16,22);
                }
            }
        }
        /*@include media-breakpoint-down(md) {
            // display: flex;
            // flex-wrap: wrap; 
            list-style: none;
            margin-top: 15px;
            padding-left: 20px;
            li {
                // width: 135px;
                margin: 5px 0;
                a {
                    color: #1a1818;
                    @include rhythm(18, 26);
                    font-weight: normal;
                }
            }
        }*/
        &.first-menu{
            li{
                margin: 19px 0;
            }
        }
    }

    .footer-menu-list{
        li:first-child{
            margin-bottom: 15px;
        }

        a {
            color: #1a1818;
            h5{
                @include rhythm(18, 26);
            }
        }

    }
    
    .contact_number {
        @include rhythm(14, 26);
        align-self: flex-end;
        color: #1a1818;
        font-weight: 400;
        @include media-breakpoint-down(md) {
            @include rhythm(18, 30);
        }
    }

    ul.footer-menu {
        list-style: none;
        margin: 25px 0;
        @include media-breakpoint-down(md){
            display: flex;
            flex-wrap: wrap;
        }
        li {
            text-align: left;
            @include media-breakpoint-down(md){
                width: 50%;
            }
        }
    }
}
