.banner_slick{
    padding: 0 !important;
    .banner_home{
        background-size: cover;
        height: 100vh;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0,.4);
        max-height: 640px;
        padding: 0 37px;
        @include media-breakpoint-up(md){
            height: 100vh;
            max-height: 850px;
        }
        h1{
            @include rhythm(16, 26);
            font-weight: 400;
            @include media-breakpoint-up(md){
                @include rhythm(40, 50);
            }
            & > span{
                @extend %color_secondary;
                @include rhythm(24, 30);
                margin-top: 1rem;
            }
            
            b{
                @include rhythm(45, 60);
                font-weight: 700;
                @include media-breakpoint-up(md){
                    @include rhythm(60, 50);
                }
            }
            
        }
        p{
            @extend %color_seventh;
            margin: 25px 0;
            @include media-breakpoint-down(md){
                display: none;
            }
        }
        .mouse-banner {
            margin: 0 auto;
            position: relative;
            top: 20vh;
            @include media-breakpoint-down(md){
                display: none;
            }
        }
        button{
            padding: 12px 60px;
        }
    }
    .slick-prev {
        left: unset;
        right: 400px;
    }
    .slick-next {
        right: 270px;
    }
    .slick-prev, .slick-next {
        z-index: 99;
        width: 38px;
        height: 38px;
        top: 70%;
        border: 1px solid #ef8611;
        padding: 8px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0px 0px 43px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 43px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 43px 0px rgba(0,0,0,0.35);
    }
    .slick-disabled {
        filter: brightness(0) invert(1);
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;
    }
    .slick-dots {
        bottom: 65px;
        li{
            margin: 0 13px;
            button{
                &:before{
                    font-size: 25px;
                    opacity: 1;
                    color: white;
                }
            }
            &.slick-active{
                button{
                    &:before{
                        opacity: 1;
                        color: #ef8611;
                    }
                }
                    
            }
        }
    }
}

.avaliacoes{
        background-image: url("../img/svg/bloco-right-desk.svg");
        background-repeat: no-repeat;
        background-position: right 60px;
        background-size: 34%;
        @include media-breakpoint-up(md){
            background-size: 0;
            padding-top: 0;
        }
        h2{
            @include rhythm(30, 40);
            font-weight: 700;
            color:black;
            padding-bottom: 32px;
            margin: 70px 0 25px 0;
            @include media-breakpoint-up(md){
                @include rhythm(40, 50);
                margin: 100px 0 25px 0;
            }
            &:before {
                content: "";
                padding: 19px 1px;
                position: relative;
                background-color: #ef8611;
                top: -80px;
                @include media-breakpoint-up(md){
                    top: -75px;
                }
            }
        }
    .blocos_right {
        position: absolute;
        right: -36px;
        top: 65px;
        @include media-breakpoint-up(md){
            display: none;
        }
    }
    .card {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        margin: 8px;
        border-radius: 10px;
        .card-header {
            padding: 15px;
            @include media-breakpoint-up(md){
                display: flex;
            }
            p {
                padding-top: 15px;
                max-height: 128px;
                overflow-y: scroll;
                @include media-breakpoint-up(md){
                    padding: 10px 27px;
                }   
                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #ef8611;
                    border-radius: 20px; 
                  }
            }
        }
        .card-content {
            border-top: 1px solid #EEEEEE;
            padding: 15px 15px;
        }
    }
    .slick-dots {
        bottom:-40px;
        li {
            button{
                &:before {
                    width: 17px;
                    height: 17px;
                    content: '';
                    opacity: .2;
                    background: white;
                    border-radius: 5px;
                    border: 1px solid black;
                }

            }
            &.slick-active {
                button{
                    &:before {
                        opacity: 1;
                        color: #ef8611;
                        background: #ef8611;
                        border: 0;
                        width: 22px;
                        height: 22px;
                        margin-top: -2px;
                    }
                }
            }
        }
    }
    .slick-prev {
        right: 60px;
        left: unset;
        padding: 10px 5px;
    }
    .slick-next {
        right: 5px;
        padding: 10px 5px;
    }
    .slick-prev, .slick-next {
        top: 110%;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.75);
        width: 38px;
        height: 38px;
        border-radius: 10px;
    }
}