.main-sistema-interno{
    .box-left{
        h2{
            @include rhythm(28,40);
            color: #000000;
            padding-bottom: 25px;
            @include media-breakpoint-up(md){
                @include rhythm(40,50);
            }
        }
        p{
            @include rhythm(14,24);
            @include media-breakpoint-up(md){
                @include rhythm(16,26);
                padding-right: 50px;
            }
        }
    }
    .main_sistema_carousel{
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
        box-shadow: 0 0 9px 0 rgba(0,0,0,.55);
        border-radius: 10px;
        .card{
            padding: 27px;
            margin: 5px;
            .card-header{
                display: flex;
                align-items: center;
                padding-bottom: 25px;
                p{
                    font-weight: bold;
                    margin-left: 15px;
                }
            }
            .card-content{
                padding-bottom: 25px;
            }
        }
        .slick-prev, .slick-next {
            top: 120%;
            box-shadow: 0 0 5px 0 rgba(0,0,0,.75);
            width: 38px;
            height: 38px;
            border-radius: 10px;
            padding: 10px;
        }
        .slick-next {
            right: 0px;
        }
        .slick-prev{
            right: 45px;
            left: unset;
        }
        .slick-dots {
            bottom: -40px;
        }
    }
}

.modelos{
    h2{
        @include rhythm(28,40);
        color: #000000;
        padding: 20px 0;
    }
    .modelos_carousel{
        .card{
            -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
            box-shadow: 0 0 9px 0 rgba(0,0,0,.55);
            text-align: center;
            border-radius: 10px;
            margin: 10px 0;
            @include media-breakpoint-up(md){
                min-height: 525px;
            }
            .card-header{
                display: flex;
                justify-content: center;
                align-items: center;
                 padding: 37px 10px;
                border-bottom: 1px solid #EFEFEF;
                img{
                    width: 100%;
                }
            }
            .card-content{
                padding: 37px 15px 90px;
                @include media-breakpoint-up(md){
                    padding: 37px 15px 55px;
                }
                h3{
                    @include rhythm(18,22);
                    padding-bottom: 21px;                
                }
                p{
                    @include rhythm(18,26);
                    @include media-breakpoint-up(md){
                        @include rhythm(14,26);
                    }
                }
            }
        }
    }
}