.newsletter{
    @include media-breakpoint-up(md){
        padding: 0;
    }
    .container{
        .card{
            border-top: 1px solid #BEBEBE;
            padding: 65px 0 0 0;
            @include media-breakpoint-up(md){
                -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
                -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
                box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
                border-radius: 5px;
                background-color: #ffffff;
                display: flex;
                padding: 96px;
                border: 0;
            }
            .card-header{
                padding: 0;
                h3{
                    @include rhythm(25,30);
                    font-weight: bold;
                    margin-bottom: -10px;
                    margin-right: 40px;
                }
                p{
                    @include rhythm(14,24);
                    margin-bottom: 30px;
                    margin-right: 40px;
                }
            }
            .card-content{
                padding: 0;
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    label{
                        margin-bottom: 20px;
                    }
                    input {
                        width: 100%;
                        &[type=submit]{
                            background-color: #F58220;
                            color: #ffffff;
                            border-radius: 5px;
                            border: 1px solid #F36A10;
                            &:hover{
                                background: #ffffff;
                                color: #ef8611;
                            }
                            @include media-breakpoint-up(md){
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
}