.template_obra {
    .simple-filter {
        @include media-breakpoint-down(md){
            padding: 0;
            padding-bottom: 10px;
        }
        ul {
            margin: 0!important;
            @include media-breakpoint-up(md) {
                padding-left: 0;
            }
        }

        .label {
            width: 550px !important;
            @include media-breakpoint-down(md) {
                width: 100% !important;
            }
        }

        ul input.sf-input-text {
            width: 550px !important;
            @include media-breakpoint-down(md) {
                width: 100% !important;
            }
        }

        ul input {
            @include media-breakpoint-down(md) {
                width: 100% !important;
            }
        }
    }

    .container_filter {
        @include media-breakpoint-up(md){
        -webkit-box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.58);
        -moz-box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.58);
        box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.58);
        }
    }

    .container_btn {
        @include media-breakpoint-up(md){
        -webkit-box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.58);
        -moz-box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.58);
        box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.58);
        }
        @include media-breakpoint-down(md){
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .btn_filtrar {
        text-align: center;
        width: 100%;
        padding: 15px;
        background: white;
        @include media-breakpoint-down(md){
            text-align: center;
        }
    }

    .modal-dialog {
        @include media-breakpoint-up(md) {
            max-width: 1100px;
        }
    }

    #obras_result_advanced {

        ul .sf-field-search label {
            width: 100%;
            padding: 40px 0 0;
        }

        ul .sf-field-search input.sf-input-text {
            width: 70%;
            padding: 11px 0 13px 15px;
            border: 1px solid black;
            border-left: none !important;
        }
    }

    .alm-btn-wrap{
        text-align: center;
        width: 100%;
    }

    .alm-btn-wrap .alm-load-more-btn, .alm-btn-wrap .alm-load-more-btn:hover {
            //background-color: #ef8611;
            margin: 5px 0 30px!important;
            box-shadow: none;
            border-radius: 5px;
            //padding: 15px 100px 20px;
            a{
                color: f58220;
                background-color: #fff;
            }
            @include media-breakpoint-down(md){
                padding: 15px 0;
                width: 100%;
            }
    }
}

.obra {
    @extend %background_seventh;

    .barra-horrizontal {
        margin: 15px 0 15px 0px;
        height: 23%;
    }
    h2 {
        @include rhythm(29, 40);
        @extend %color_third;
        margin: 90px 0 25px 0;
        @include media-breakpoint-up(md) {
            margin: 110px 0 25px 0;
        }
        &:before {
            content: "";
            padding: 19px 1px;
            position: relative;
            background-color: #ef8611;
            top: -65px;
            @include media-breakpoint-up(md) {
                top: -85px;
            }
        }
        @include media-breakpoint-up(md) {
            @include rhythm(40, 50);
        }
    }
    .obra_atex {
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        padding-left: 0;
        @include media-breakpoint-down(md) {
            border: 1px solid;
            margin: 0 30px;
        }
        .obra_content {
            list-style: none;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 190px;
            margin: 25px auto;
            text-align: left;
            align-items: baseline;
            @include media-breakpoint-down(md) {
                padding: 0 25px;
                width: auto;
                text-align: center;
                align-items: center;
            }
            p {
                @include rhythm(16,22);
            }
            img {
                width: 61px;
            }
        }
    }
    a {
        margin-left: 10px;
        button {
            padding: 12px 50px;
            @include media-breakpoint-down(md) {
                display: flex;
                width: 100%;
                text-align: center;
            }
        }
    }
}

.interna_product {
    .modal-product {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        border-radius: 5px;
        padding-top: 20px;
        .close-modal {
            position: absolute;
            right: 0;
            top: 10px;
            @include media-breakpoint-up(md) {
                top: 0;
            }
        }
        .card {
            padding-bottom: 80px;
            .card-header {
                text-align: center;
                padding-top: 50px;
                padding-bottom: 25px;
                h2 {
                    @include rhythm(20, 26);
                    font-weight: bold;
                    color: #000000;
                    padding: 0 20px;
                }
                p {
                    @include rhythm(14, 24);
                }
            }
            .gallery_obra_carousel {
                .card-slider {
                    display: flex !important;
                    justify-content: center;
                    img {
                        width: 100%;
                        max-height: 386px;
                        border-radius: 10px;
                    }
                }
                .slick-arrow {
                    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                    width: 38px;
                    height: 38px;
                    border-radius: 10px;
                }
                .slick-next {
                    right: -60px;
                    padding: 10px 5px;
                }
                .slick-prev {
                    left: -60px;
                    padding: 10px 5px;
                }
                .slick-prev,
                .slick-next {
                    top: 50%;
                    z-index: 1;
                }
                .slick-dots {
                    bottom: -45px;
                }
            }
            .card-content {
                padding-top: 25px;
                p {
                    @include rhythm(14, 26);
                }
            }
        }
    }
}

#advanced-search {
    z-index: 9999;
    position: fixed;
    margin: 0 auto;
    width: 90vw;
    max-width: 100vw;
    .modal-dialog {
        width: 100%;
        max-width: 100%;
        .modal-header{
            a{
                button {
                    background: transparent;
                    border: 0;
                    color: #f58220;
                    cursor: pointer;
                    font-size: 20px;
                }
            }
        }
    }
    ul .sf-field-search label {
        width: 100%;
        padding: 40px 0 0;
    }

    ul .sf-field-search input.sf-input-text {
        width: 70%;
        padding: 11px 0 13px 15px;
        border: 1px solid black;
        border-left: none !important;
    }
}

@include media-breakpoint-down(md){
    .page-template-template-page-obras .main .row {
        align-items: unset !important;
        margin-top: 50px;
    }
}
