.simple-filter{
    ul{
        @include media-breakpoint-down(md){
            padding-left: 0;
            margin: 0 20px;
        }
        @include media-breakpoint-up(md){
            display: flex;
        }
        li.sf-field-search {
            @include media-breakpoint-down(md){
                border-bottom: 1px solid !important;
                border: 0;
                border-radius: 5px 5px 0 0;
                margin-bottom: 20px;
                width: 100%;
            }
        }
        li.sf-field-submit {
            padding-top: 0 !important;
            @include media-breakpoint-up(md){
                padding-top: 10px !important;
            }
        }
        input.sf-input-text {
                padding: 12px 0px 12px 5px;
                border-radius: 0;
            @include media-breakpoint-down(md){
                border: 0;
            }
            @include media-breakpoint-up(md){
                padding: 12px 100px 12px 20px;
                border-right: 0;
                border-left: 0;
                border-radius: 0;
            }
        }
        input[type="submit"] {
            padding: 12px 86px;
            background: #F58220;
            color: #fff;
            border: 1px solid #F36A10;
            border-radius: 0 0 5px 5px;
            @include media-breakpoint-up(md){
                border-radius: 0 5px 5px 0;
                padding: 16px 86px;
            }
        }
        label{
            display: flex;
            &:before {
                
                font-weight: 900;
                font-family: "Font Awesome 5 Free";
                color: #8f9abc;
                padding: 15px 0 17px 15px;
                @include media-breakpoint-up(md){
                    content: "\f002";
                    padding: 15px 0px 17px 52px;
                    border: 1px solid black;
                    border-radius: 5px 0 0 5px;
                    border-right: 0;
                }
            }
        }
    }
}

.obras_result_advanced{
    border-radius: .25rem;
    @include media-breakpoint-up(md){
        padding: 0 150px;
    }
    ul{
        padding-left: 0;
        @include media-breakpoint-up(md){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .sf-field-search{
            @include media-breakpoint-up(md){
                display: flex; 
                margin: 0 auto;
                width: 100%;
            }
            &:first-child {
                input {
                    @include media-breakpoint-down(md){
                        padding: 12px 40px;
                        width: 293px;
                    }
                }
            }    
            label{
                &:before {
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    left: -10px;
                    @include media-breakpoint-up(md){
                        content: "\f002";
                        padding: 15px 0 17px 170px;
                        border: 1px solid black;
                        border-radius: 5px 0 0 5px;
                        border-right: 0;
                        color: #8f9abc;
                    }
                    @include media-breakpoint-down(md){
                        display: flex;
                        flex-direction: column;
                        opacity: .5;
                    }
                }
                @include media-breakpoint-down(md){
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    //border: 1px solid;
                    padding: 20px 0;
                    border-radius: 5px;
                }
            }
            input.sf-input-text {
                //border: 0;
                @include media-breakpoint-up(md){
                    padding: 12px 316px 12px 20px;
                    border-left: 0;
                    border-radius: 0 5px 5px 0;
                }
            }
            
        }
        label{
            @include media-breakpoint-down(md){
                width: 100%!important;
            }
        }
        select.sf-input-select {
            min-width: 168px;
            border-radius: 5px;
            color: #1A1818;
            @include media-breakpoint-down(md){
                width: 100%;
            }
        }
        li{ 
            padding: 10px 16px 10px 0!important;
            @include media-breakpoint-up(md){
                padding: 10px 16px 40px 0 !important;
                width: 21vw;
            }
            &.sf-field-taxonomy-paises .sf-input-select {
                padding: 15px 14px 9px 14px;
                @include media-breakpoint-up(md){
                    width: 20vw;
                }
            }
            &.sf-field-taxonomy-estados_obras .sf-input-select {
                padding: 15px 55px 9px 14px;
                @include media-breakpoint-up(md){
                    width: 20vw;
                }
            }
            &.sf-field-taxonomy-cidade .sf-input-select {
                padding: 15px 117px 9px 14px;
                @include media-breakpoint-up(md){
                    width: 20vw;
                }
            }
            &.sf-field-taxonomy-tipo_obra .sf-input-select {
                padding: 15px 104px 9px 14px;
                @include media-breakpoint-up(md){
                    width: 20vw;
                }
            }
            &.sf-field-taxonomy-solucao .sf-input-select {
                padding: 15px 85px 9px 14px;
                @include media-breakpoint-up(md){
                    width: 20vw;
                }
            }
            &.sf-field-taxonomy-segmento .sf-input-select {
                padding: 15px 85px 9px 14px;
                @include media-breakpoint-up(md){
                    width: 20vw;
                }
            }
            &.sf-field-submit {
                width: 100%;
                @include media-breakpoint-down(md){
                    display: flex !important;
                    padding-right: 0 !important;
                    justify-content: center;
                    padding-bottom: 30px;
                }
            }
        }
        input[type="submit"] {
            padding: 12px 85px;
            background: #F58220;
            color: #fff;
            border: 1px solid #F36A10;
            border-radius: 10px;
        }
    }    
}

.aqui-atex-filter{
    .list-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .card{
            margin-bottom: -20px;
            padding-left: 0;
            padding-right: 0;
            @include media-breakpoint-up(md){
                margin-bottom: -60px;
            }
            // .card-header{
                
            // }
            .card-content{
                position: relative;
                left: 20px;
                color: #fff;
                top: -110px;
                &:before{
                    content: "";
                    padding: 41px 3px;
                    position: absolute;
                    background: #F36A10;
                    left: -20px;
                    border-radius: 0 5px 5px 0;
                    top: 20px;
                }
                a{
                    text-decoration: none;
                    h5{
                        @include rhythm (20,26);
                        color: #ffffff;
                        padding-bottom:5px;
                    }
                }
                span{
                    @include rhythm(14,24);
                }
            }
        }
    }
    
}

.results-unidade{
    padding-top: 30px;
    .contact-list{
        @include media-breakpoint-up(md){
            display: flex;
            align-items: flex-end;
        }
        .result-header{
            p{
                color: #ffffff;
            }
        }
        .result-content{
            p{
                color: #ffffff;
                @include rhythm(14,24);
                padding-bottom: 15px;
                a{
                    @include rhythm(14,50);
                    color: #ffffff;
                    padding-top: 10px;
                    font-weight: normal;
                }
                b{
                    @include rhythm(14,24);
                }
            }
        }
    }
}

.list-search-geral{
    list-style: none;
    li{
        padding: 30px 0;
    }
}

.product{
    #search-filter-results-1989{
        .card{
            .card-header{
                img{
                    height: 30vh;
                    width: 15vw;
                }
            }
        }
    }
}

div#search-filter-results-1990 h2 {
    color: black;
    text-align: center;
    font-size: 26px;
}

@include media-breakpoint-down(md){   
    #search-filter-form-1990 li{
        &.sf-field-search label {
            display: flex;
            &:before {
                top: 12px;
            }
        }
        &:first-child input {
            padding: 15px 57px;
        }
        &:last-child input {
            width: 95.5%;
        }
        input[type=submit] {
            margin-left: 13px;
            margin-top: -5px;
        }
    }
}