.page-id-216 .constructions {
    background-image: none;
}

.constructions {
    background-image: url("../img/svg/bloco-left.svg");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: left;
    padding-bottom: 50px;
    @include media-breakpoint-up(md) {
        background-size: 17%;
        padding-bottom: 0 80px;
    }
    .card-header {
        @include media-breakpoint-down(md) {
            padding-right: 25px;
            padding-bottom: 20px;
        }
        h2 {
            @extend %color_third;
            @include rhythm(28, 40);
            margin: 35px 0 25px 0;
            @include media-breakpoint-up(md) {
                @include rhythm(40, 50);
                margin: 105px 0 25px 0;
            }

            &:before {
                content: "";
                padding: 15px 1px;
                position: relative;
                background-color: #ef8611;
                top: -60px;
                @include media-breakpoint-up(md) {
                    top: -75px;
                    padding: 15px 1px;
                }
            }
        }
        p {
            @include rhythm(14, 24);
            margin-top: 5px;
        }
    }
    .solution-projeto {
        display: flex;
        flex-wrap: wrap;
        @include media-breakpoint-up(xs) {
            padding: 0;
        }

        .card_content {
            text-align: center;
            margin: 10px auto;
            list-style: none;
            padding: 13px 0 0 0px;
            border-radius: 5px;
            -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.41);
            -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.41);
            box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.41);
            width: 100%;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            transition: transform 0.5s;
            @include media-breakpoint-up(md) {
                &:hover {
                    -ms-transform: translate(0, -10px);
                    -webkit-transform: translate(0, -10px);
                    transform: translate(0, -10px);
                    //border-bottom: 15px solid white;
                }
            }
            @include media-breakpoint-up(sm) {
                width: auto;
            }
            @media (min-width:1023px) and (max-width:1025px){
                width: 32% !important;
            }
            a {
                text-decoration: none;
                color: #000000;
                /*&:after {
                    content: "";
                    position: absolute;
                    width: 30.5%;
                    height: 33%;
                    z-index: 999999;
                    background: #000;
                    margin-left: -14.5em;
                    margin-top: 6px;
                    border-radius: 0px 0px 10px 10px;
                    opacity: .4;
                }*/
                img {
                    width: 100%;
                    @include media-breakpoint-up(xs) {
                        margin-top: 6px;
                    }
                }
                h3 {
                    @include rhythm(15, 18);
                    letter-spacing: 0;
                    font-weight: normal;
                    padding-top: 15px;
                }
                p {
                    font-weight: bold;
                }
                &:hover {
                    @extend %color_first;
                }
            }
        }
    }
}
