.trabalhe_conosco{
    padding: 80px 0 0;
    h2{
        @include rhythm(30,40);
        color: #000000;
        @include media-breakpoint-up(md){
            @include rhythm(40,45);
        }
    }
    p{
        @include rhythm(14,24);
        @include media-breakpoint-up(md){
            margin-right: 45px;
        }
    }
    .content-img{
        img{
            width: 100%;
        }
    }
}

.form_trabalhe{
    padding: 40px 0;
    .row {
        display: flex;
        justify-content: space-between;
    }
    h2{
        @include rhythm(30,40);
        color: #000000;
        @include media-breakpoint-up(md){
            @include rhythm(40,45);
        }
    }
    .form-card{
        label{
            @include rhythm(14,26);
            color: #1A1818;
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            input{
                height: 43px;
            }
        }
        .inputs {
            input{
                width: 100%;
                border: 1px solid #1A1818;
                @include media-breakpoint-up(md){
                    padding: 0 23px; 
                }
            }
            @include media-breakpoint-up(md){
                display: flex;
                justify-content: space-between;
            }
            .label-width{
                width: 100%;
            }
            select {
                height: 43px;
                border-radius: 5px;
                border: 1px solid #1A1818;
                &.tipo-selector{
                    padding: 0 12px;
                    @include media-breakpoint-up(md){
                        padding: 0 14px 0 10px;
                        width: 100%;
                    }
                }
                &.atuacao-selector{
                    padding: 0 31px;
                    @include media-breakpoint-up(md){
                        padding: 0 150px 0 10px;
                        width: 100%;
                    }
                }
            }
            .smal-input{
                display: flex;
                width: 100%;
                justify-content: space-between;
                &:last-child{
                    @include media-breakpoint-up(md){
                        padding-left: 10px;
                    }
                }
                .telefone {
                    width: 100%;
                    @include media-breakpoint-down(md){
                        padding-right: 5px;
                    }
                }
                .ddd {
                    width: 71px;
                } label{
                    &:first-child {
                        padding-right: 15px;
                        @include media-breakpoint-down(md){
                            padding-right: 10px;
                        }
                    }
                }
                select {
                    height: 43px;
                    border-radius: 5px;
                    border: 1px solid #1A1818;
                    &.state-selector{
                        padding: 0 12px;
                        @include media-breakpoint-up(md){
                            padding: 0 14px 0 10px;
                        }
                    }
                    &.city-selector{
                        padding: 0 31px;
                        @include media-breakpoint-up(md){
                            padding: 0 150px 0 10px;
                        }
                    }
                }
                .label-pd {
                    padding-right: 0 !important;
                }
            }
        }
        .button-inputs{
            display: flex;
            span.Curriculo > input {
                visibility: hidden;
            }
            .submit-curriculo {
                width: 100%;
            }
            span.Curriculo:before {
                content: "Carregar arquivo";
                position: absolute;
                background: #ffffff;
                color: #ef8611;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 900;
                border: 1px solid;
                height: 50px;
                text-align: center;
                align-items: center;
                justify-content: center;
                display: flex;
                width: 100%;
              }
            .submit-button{
                @include media-breakpoint-up(md){
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    align-items: center;
                    margin-top: 15px;
                }
                .wpcf7-submit {
                    width: 100%;
                    color: #fff;
                    border-color: #fff;
                    background: #ef8611;
                    padding: 12px 34px;
                    border: 1px solid #ef8611;
                    height: 50px;
                }
                .ajax-loader {
                    position: absolute;
                }
            }
        }
    }
}